* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background: url(./image\ copy\ 2.png) no-repeat;
    background-size: cover;
    background-position: center;
}



body {
    font-family: 'Baloo 2', cursive;
}

h1 {
    font-size: 40px;
    color: #fff;
}

p {
    color: #fff;
}

a {
    text-decoration: none;
    color: #115035;
}
.bf-body-box{
    padding: 20px;
}

input,textarea,select{
     width: 100%;
     background-color: #141824;
     border: none;
     outline: none;
     padding: 10px;
     font-family: 'Baloo 2', cursive;
     margin-top: 5px;
     resize: none;
     color: #fff;
     border-radius: 10px;
} 
.bf-col-12{
    width: 100%;
}

.bf-col-3{
   width: 30%;
}
.bf-body-box{
    padding: 20px;
}

.bf-col-6{
    width: 48%;
 }
 .bf-row{
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
 }
.bf-head,.bf-footer{
   background-color: #141824;
   padding: 20px 10px;
}
.bf-head{
    text-align: center;
}


.bf-head p {
    color: #115035;
}

.bf-cotainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    overflow-y: auto;
    padding: 20px 16px;
    background-color: #1d2228;
}

.bf-body {
    width: 500px;
    background-color: #1d1d2c;
}
@media screen and (max-width:60px) {
    bf-row{
      flex-direction: column;
      padding: 5px;
    }
    .bf-col-3{
        width: 30%;
     }
     .bf-body-box{
        padding: 10px 0;
         padding: 20px;
     }
     
     .bf-col-6{
        padding: 10px 0;
         width: 48%;
      }
      .bf-row{
         display: flex;
         justify-content: space-between;
         padding: 5px 0px;
      }
      
.bf-col-12{
    padding: 10px 0;
    width: 100%;
}


.bf-cotainer {
    padding: 50px 16px;
 
}

}
.bf-cotainer{
    margin-left:20px ;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
}
    
